/*
Developer:		Alexander James Campbell
Date Created:	     1-24-2019
Date Updated:	     5-16-2019
Website:		     Maps of Sennovia
File Name:		stylesheet.css
*/
html {
     font-size:16px;
}

body {
     background-image: url("D&DBG2.jpg");
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
}

p {
     font-family: 'Satisfy', cursive;
     font-size: 1.5em;
     text-align: justify;
     align-self: center;
     margin: 20px;
     border: 5px #2870B8 solid;
     background-color: #3396F8;
     opacity: .75;
     z-index: -1;
}

.bg-light {
     opacity: 0.9;
     z-index: 1;
     /*float: left;
     position: fixed;
     margin: 0 auto;
     width: 100%;*/
}

h1 {
     margin: auto;
     padding: 10px;
     color: #3396F8;
     text-shadow: 1.5px 1.5px 2px black, -1.65px -1.65px 3px #098501;
}

h2 {
     margin: auto;
     padding: 10px;
     color: #2870B8;
     text-shadow: 1.5px 1.5px 2px black, -1.65px -1.65px 3px #098501;
}

img {
     width:99.99%;
     padding: 50px;
}

.center {
     width: 100%;
     margin: auto;
     text-align: center;
}

a:visited {
     color: #076E00;
}
