/*
Developer:		Alexander James Campbell
Date Created:	1-24-2019
Date Updated:	1-28-2019
Website:		Maps of Sennovia
File Name:		stylesheet.css
*/

body {background-color:#3399ff;}
p {font: georgian;}
img {width:99.99%;}
h1 {margin: center;}
