/*
Developer:		Alexander James Campbell
Date Created:	1-24-2019
Date Updated:	1-28-2019
Website:		Maps of Sennovia
File Name:		stylesheet.css
*/
html {font-size:16px;}
body {background-color:#3399ff;}
p {font: georgian; font-size: 1em;}
img {width:99.99%;}
.center {width: 100%; margin: auto; text-align: center;}
a:visited {color: #076E00;}
